- @title = root

= partial('header', locals: { file: false, idx: idx })

- if contents && contents.any?
  %table#fileListing.condensed-table.zebra-striped
    %thead
      %tr
        %th File
        %th Author
        %th Last Modified
        %th Size

    %tbody
      - contents.each do |f|
        %tr
          %td
            %img{ src: "/img/#{f.is_directory ? 'folder' : 'file'}.png", width: 16, height: 16 }
            %a{ href: "/#{idx}#{request.path_info}/#{f.name}" }
              = f.name
          %td.author
          %td.modified
          %td.size

- if contents.empty?
  %p No files were found in this directory.

.row
  .span6
    %form.upload{ method: 'POST', enctype: 'multipart/form-data', action: "/#{idx}#{request.path_info}?mode=upload" }
      %p Upload file to this directory
      %input.uploader{ type: 'file',   value: 'Select a file', name: 'file', size: 12 }
      %input.btn.secondary{ type: 'submit', value: 'Upload file' }
  .span8
    %form.add
      %p Add new file or directory
      %input.edit{ type: 'text',   name: 'path', placeholder: 'somefile.md or somedir' }
      %input.btn.secodary.file{ type: 'submit', value: 'New file' }
      %input.btn.secondary.directory{ type: 'submit', value: 'New directory' }

- if rendered_readme
  .contents
    = preserve rendered_readme
